@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 95%;
    max-height: 90vh;
    overflow: auto;
}

#processListContainer div {
    background-color: #4a90e2; 
    color: white; 
    font-weight: bold;  
}

#definePaginationForm button, #processTableHeader, #defineFramingForm button {
    background-color: #f56a00; /* Laranja */
    color: #ffffff;
}

#definePaginationForm .input-group-text, #pageList .processTableCell, #defineFramingForm .input-group-text {
    background-color: #ff9849; /* Laranja-claro */
    color: #ffffff;
}

#pageTableHeader {
    background-color: #4a90e2; /* Azul */
    color: #ffffff;
}

#pageList .pageTableCell {
    background-color: #70b3ff; /* Azul-claro */
    color: #ffffff;
}

ul li { cursor: move; }